<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.InitiatorTestRunner.BPRMasterPreReqInitiation"/>
      <class name="com.AdminTestRunner.AssignMenuTestRunner"/>
      <class name="com.InitiatorTestRunner.BMRMasterCancellation"/>
      <class name="com.MastersTestRunner.MarketTestRunner"/>
      <class name="com.InitiatorTestRunner.BMRMasterApproval"/>
      <class name="com.QAOfficerTestRunner.BPRReprintReqInitiation"/>
      <class name="com.QAHODorInchargeTestRunner.BMRbatchClosureApproval"/>
      <class name="com.IPQATestRunner.BPRBatchClosureReview"/>
      <class name="com.MastersTestRunner.DosageFormTestRunner"/>
      <class name="com.QAHODorInchargeTestRunner.MasterApprovalByQAIncharge"/>
      <class name="com.ProductionInchargeTestRunner.BPRPrintReview"/>
      <class name="com.ProductionInchargeTestRunner.BMRAfterPrintCancellationReview"/>
      <class name="com.QAHODorInchargeTestRunner.BPRMasterCancelAppovalorRejection"/>
      <class name="com.QAHODorInchargeTestRunner.CFTRevieworReturn"/>
      <class name="com.QAHODorInchargeTestRunner.BMRBatchCorrectionApproval"/>
      <class name="com.QAOfficerTestRunner.BMRReprintIssueandPrint"/>
      <class name="com.IPQATestRunner.BPRRepackingRequestApproval"/>
      <class name="com.QAOfficerTestRunner.BPRBatchCompletionApproval"/>
      <class name="com.QADocCellTestRunner.BPRObsoleteInitiation"/>
      <class name="com.QADocCellTestRunner.BPRMasterReqApprovalRejection"/>
      <class name="com.QAHODorInchargeTestRunner.BMRAfterPrintCancelApprovalRejection"/>
      <class name="com.ProductionInchargeTestRunner.BMRPrintReview"/>
      <class name="com.ProductionInchargeTestRunner.BPRAfterCancellationReview"/>
      <class name="com.ProductionExecutiveTestRunner.BPRBatchCompletionInitiation"/>
      <class name="com.ProductionInchargeTestRunner.BPRAdditionalPageReview"/>
      <class name="com.IPQATestRunner.BMRAdditionalPageApproval"/>
      <class name="com.QAOfficerTestRunner.BPRPrintIssuanceandPrint"/>
      <class name="com.QAHODorInchargeTestRunner.BPRBeforePrintCancelApprovalorRejection"/>
      <class name="com.QAHODorInchargeTestRunner.BPRMasterApproval"/>
      <class name="com.QAHODorInchargeTestRunner.BMRBeforePrintCancelApprovalorRejection"/>
      <class name="com.QAHODorInchargeTestRunner.MasterApprovalByQAHOD"/>
      <class name="com.IPQATestRunner.BPRUnusedQtyApprovalorRejection"/>
      <class name="com.ProductionExecutiveTestRunner.BPRRepackingInitiation"/>
      <class name="com.RATestRunner.BPRMasterApproval"/>
      <class name="com.RATestRunner.BMRMasterApprovalbyRA"/>
      <class name="com.AdminTestRunner.PasswordPolicyTestRunner"/>
      <class name="com.QAHODorInchargeTestRunner.BMRProductDetailsApprovalorReturn"/>
      <class name="com.ProductionExecutiveTestRunner.BMRAdditionalPagePrintReqInitiation"/>
      <class name="com.IPQATestRunner.BatchCompletionReview"/>
      <class name="com.QAHODorInchargeTestRunner.BPRBatchClosureApproval"/>
      <class name="com.QAHODorInchargeTestRunner.BPRPrintReqApproval"/>
      <class name="com.QAOfficerTestRunner.BMRBatchCorrectionInitiation"/>
      <class name="com.ProductionHODTestRunner.BPRMasterApproval"/>
      <class name="com.ProductionInchargeTestRunner.BPRBeforePrintCancellation"/>
      <class name="com.MastersTestRunner.StrengthTestRunner"/>
      <class name="com.ProductionHODTestRunner.MasterApprovalByProductionHOD"/>
      <class name="com.QAOfficerTestRunner.BMRBatchClosureInitiationbyQAOfficer"/>
      <class name="com.QAOfficerTestRunner.BMRReprintReqInitiation"/>
      <class name="com.QAOfficerTestRunner.BMRPrintIssuance"/>
      <class name=".NewTest"/>
      <class name="com.ProductionExecutiveTestRunner.BPRPrintRequestInitiation"/>
      <class name="com.QAHODorInchargeTestRunner.BPRMasterApprovalbyQAHOD"/>
      <class name="com.MastersTestRunner.UnitOfMeasurementTestRunner"/>
      <class name="com.QAOfficerTestRunner.BPRBatchClosureInitiation"/>
      <class name="com.ProductionExecutiveTestRunner.BMRAfterPrintCancellation"/>
      <class name="com.InitiatorTestRunner.BPRDraftInitiation"/>
      <class name="com.QAHODorInchargeTestRunner.BMRMasterCancelApprovalOrRejection"/>
      <class name="com.TechTransferTestRunner.BMRMasterApprovalByTechTransfer"/>
      <class name="com.InitiatorTestRunner.BPRMasterCancel"/>
      <class name="com.QADocCellTestRunner.BMRMasterEffectivebyDocCell"/>
      <class name="com.InitiatorTestRunner.BMRDraftInitiation"/>
      <class name="com.InitiatorTestRunner.BMRProductDetailsInitiation"/>
      <class name="com.ProductionExecutiveTestRunner.BPRAdditionalPagePrintReqInitiation"/>
      <class name="com.QAOfficerTestRunner.BPRAdditionalPagePrintIssuanceandPrint"/>
      <class name="com.QADocCellTestRunner.BPRMasterEffective"/>
      <class name="com.QAOfficerTestRunner.BMRAdditionalPagePrintIssueandPrint"/>
      <class name="com.QAHODorInchargeTestRunner.BPRObsoleteApproval"/>
      <class name="com.QAOfficerTestRunner.BMRBatchCompletionApprovalbyQAOfficer"/>
      <class name="com.IPQATestRunner.BPRAdditioanlPageApproval"/>
      <class name="com.QAOfficerTestRunner.BPRReprintIssueandPrint"/>
      <class name="com.ProductionInchargeTestRunner.ProductionInchargeMasterApprovalReview"/>
      <class name="com.QADocCellTestRunner.BMRObsoleteInitiation"/>
      <class name="com.ProductionExecutiveTestRunner.BMRPrintRequestInitiation"/>
      <class name="com.ProductionInchargeTestRunner.BMRAdditionalPageReview"/>
      <class name="com.QAOfficerTestRunner.BPRBatchCorrectionInitiation"/>
      <class name="com.InitiatorTestRunner.BMRMasterPreparationRequest"/>
      <class name="com.ProductionExecutiveTestRunner.BMRBatchCompletionInitiationbyExe"/>
      <class name="com.InitiatorTestRunner.BPRMasterApproval"/>
      <class name="com.QAHODorInchargeTestRunner.BPRBatchRecordCorrectionApproval"/>
      <class name="com.InitiatorTestRunner.BPRProductDetailsInitiation"/>
      <class name="com.QAHODorInchargeTestRunner.BMRObsoleteApprovalNdReject"/>
      <class name="com.MastersTestRunner.BlockandLocationTestRunner"/>
      <class name="com.QAHODorInchargeTestRunner.BPRAfterPrintCancelApproval"/>
      <class name="com.ProductionExecutiveTestRunner.BPRAfterPrintCancellation"/>
      <class name="com.ValidationInchargeTestRunner.BMRPrintReview"/>
      <class name="com.ProductionInchargeTestRunner.ObsoleteReview"/>
      <class name="com.MastersTestRunner.ModeofPackingTestRunner"/>
      <class name="com.ProductionInchargeTestRunner.BMRBeforePrintCancelInitiation"/>
      <class name="com.QADocCellTestRunner.BMRMasterPreparationRequestApprovalorRejection"/>
      <class name="com.ProductionInchargeTestRunner.BPRMasterReview"/>
      <class name="com.ProductionInchargeTestRunner.BPRObsoleteReview"/>
      <class name="com.ProductionExecutiveTestRunner.BPRUnUsedQunatityInitiation"/>
      <class name="com.ValidationInchargeTestRunner.BPRPrintReview"/>
      <class name="com.QAHODorInchargeTestRunner.BMRRePrintApproval"/>
      <class name="com.TechTransferTestRunner.BPRMasterApproval"/>
      <class name="com.QAHODorInchargeTestRunner.BPRRePrintApproval"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
